html {
	margin: 0;
	padding: 0;
	background-image: url('./images/starryBg.jpg');
	background-repeat: repeat;
	background-size: contain;
}

body {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 60px;
}

.app {
	height: 100vh;
	width: 100vw;
	background: #070d31;
	background-image: url('./images/starryBg.jpg');
	background-repeat: repeat;
	background-size: contain;
	color: #fcff56;
	font-family: monospace;
	font-size: 25px;
	margin: 0;
	padding: 0;
}

.header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 10%;
	margin-left: 30px;
}

.main-container {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 90%;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: fit-content;
	background: #070d31;
}

form {
	display: flex;
	flex-direction: column;
}

.link {
	text-decoration: none;
	color: #fcff56;
}

.btn {
	font-family: monospace;
	background-color: #fcff56;
	color: #242f40;
	padding: 10px;
	margin: 10px;
	font-size: 20px;
	border-radius: 10px;
}

input {
	padding: 10px;
	margin: 5px;
	min-width: 200px;
	font-size: 15px;
	text-align: center;
	border: 1px solid black;
	border-radius: 10px;
}

.danger {
	background-color: #ba0021;
	color: white;
}

.success {
	background-color: #4bb543;
	color: white;
}

.btn:hover {
	filter: brightness(75%);
}

.form {
	margin: 10px;
	display: inline-block;
}

.form-input {
	display: inline-block;
	padding: 10px 15px;
	font-size: 15px;
	border-radius: 0;
	-webkit-appearance: none;
	border: 1px solid black;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	width: 500px;
}

.form-btn {
	display: inline-block;
	padding: 10px 15px;
	font-size: 15px;
	border-radius: 0;
	-webkit-appearance: none;
	border: 1px solid black;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

/* Game Styling */

.room-container {
	display: flex;
	min-height: 100%;
	width: 90%;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.room-header {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.room-body {
	width: 100%;
}

.room-footer {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: flex-end;
	padding: 20px;
}

/* Questions Styling */

.answer-box {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
}

/* Answer styling*/
.answer-container {
	display: inline-block;
	word-wrap: break-word;
	max-width: 200px;
	padding: 10px;
	margin: 10px;
	font-size: 16px;
	border: 1px solid black;
	border-radius: 5px;
}

.whiteboard-container {
	height: 650px;
	width: 1150px;
	position: relative;
	background: #fbfaf5;
	border: 5px solid gray;
	border-radius: 10px;
}

.whiteboard-item {
	display: inline-block;
	position: relative;
	word-wrap: break-word;

	color: #000;
	font-size: 14px;
	height: 80px;
	width: 80px;
	margin: 5px;
	padding: 1em;
	box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
}

.room-header {
	display: flex;
	justify-content: space-between;
}

.question-box {
	text-align: center;
	width: 100%;
}

.whiteboard-footer {
	width: 100%;
}

.key-container {
	display: inline-block;
	background: #070d31;
	border: 5px solid gray;
	border-radius: 10px;
	margin-top: 1em;
}

.key-item {
	display: inline-block;
}

.color-key {
	display: flex;
	align-items: center;
	padding: 2px;
}

.color-box {
	height: 20px;
	width: 20px;
	margin: 2px;
	margin: 0.5em;
}

.refresh-whiteboard {
	position: absolute;
	top: 0;
	right: 0;
	margin: 5px 5px 0 0;

	width: 40px;
	height: 40px;
	background-color: white;
	border-radius: 10px;
}

/* Game Styles */

.game-container {
	position: relative;
	height: 100%;
	width: 100%;
	background-image: url('./images/gameBg.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.game-btn {
	transform: translate(-50%, -50%);
	position: absolute;
	font-size: 3vh;
	padding: 0.5em 1em;
}

.star-1 {
	top: 3em;
	left: 49%;
}

.star-2 {
	top: 12em;
	right: 5%;
}

.star-3 {
	bottom: 2em;
	right: 15%;
}

.star-4 {
	bottom: 2em;
	left: 25%;
}

.star-5 {
	top: 12em;
	left: 15%;
}

.ready-btn {
	top: 1em;
	right: 1em;
	min-width: 200px;
}

.text {
	background: #070d31;
}

.user {
	display: inline-block;
	background: #fcff56;
	color: #070d31;
	border-radius: 10px;
	padding: 1em 2em;
	margin: 1em;
}
