html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	height: 100%;
	background: #070d31;
	background-image: url('./images/starryBg.jpg');
	background-repeat: repeat;
	background-size: contain;
}

body {
	height: 100%;
}

#root {
	height: 100%;
}

.text {
	text-align: center;
	background: #070d31;
}

.title {
	font-size: 5vh;
	margin: 2em;
}

.prompt {
	font-size: 5vh;
	margin: 1em;
}

/* Button Styles */
.btn {
	font-family: monospace;
	background-color: #fcff56;
	color: #242f40;
	border-radius: 10px;
	font-size: 2vh;
	padding: 0.75em;
	margin: 0.25em;
}

.form {
	display: flex;
	flex-direction: column;
	min-width: 300px;
}

.form-input {
	font-size: 2vh;
	padding: 0.75em;
	margin: 0.25em;
}

.q-form-in,
.btn-form-sm {
	display: inline-block;
	-webkit-appearance: none;
	font-size: 15px;
	border-radius: 0;
	padding: 10px 15px;
}

.q-form {
	border-radius: 0;
	-webkit-appearance: none;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	width: 100%;
}

.q-form-in {
	width: 50%;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.btn-form-sm {
	border: 1px solid black;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.danger {
	background-color: #ba0021;
	color: white;
}

.success {
	background-color: #4bb543;
	color: white;
}

.btn:hover {
	filter: brightness(75%);
}

.app {
	height: 100%;
	width: 100vw;
	color: #fcff56;
	font-family: monospace;
	margin: 0;
	padding: 0;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 5%;
}

.body {
	height: 90%;
}

.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	height: 5%;
	width: 50%;
}

.main-container {
	height: 90%;
	padding: 15px;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.link {
	text-decoration: none;
	color: #fcff56;
}

input {
	padding: 10px;
	margin: 5px;
	min-width: 200px;
	font-size: 15px;
	text-align: center;
	border: 1px solid black;
	border-radius: 10px;
}

.form-btn {
	display: inline-block;
	padding: 10px 15px;
	font-size: 15px;
	border-radius: 0;
	-webkit-appearance: none;
	border: 1px solid black;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

/* Questions Styling */

.answer-box {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	min-height: 350px;
}

/* Answer styling*/
.answer-container {
	display: inline-block;
	word-wrap: break-word;
	max-width: 200px;
	padding: 10px;
	margin: 10px;
	font-size: 16px;
	border: 1px solid black;
	border-radius: 5px;
}

.whiteboard-container {
	display: inline-flex;
	margin-top: 1%;
	height: 90%;
	width: 100%;
}

.whiteboard {
	height: 100%;
	width: 100%;
	position: relative;
	background: #fbfaf5;
	border: 3px solid black;
	border-radius: 10px;
}

.key-container {
	display: block;
	background: #070d31;
	border-radius: 10px;
	margin: 1em;
	font-size: large;
}

.whiteboard-item {
	display: inline-block;
	position: relative;
	word-wrap: break-word;

	color: #000;
	font-size: 14px;
	height: 80px;
	width: 80px;
	margin: 5px;
	padding: 1em;
	box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
}

.question-box {
	text-align: center;
	width: 100%;
}

.whiteboard-footer {
	width: 100%;
}

.color-key {
	display: flex;
	align-items: center;
	padding: 2px;
}

.color-box {
	height: 20px;
	width: 20px;
	margin: 2px;
	margin: 0.5em;
}

.refresh-whiteboard {
	position: absolute;
	top: 0;
	right: 0;
	margin: 5px 5px 0 0;

	width: 40px;
	height: 40px;
	background-color: white;
	border-radius: 10px;
}

/* Game Styles */

.game-container {
	position: relative;
	height: 100%;
	width: 100%;
	background-image: url('./images/gameBg.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.game-btn {
	transform: translate(-50%, -50%);
	position: absolute;
	font-size: 3vh;
	padding: 0.5em 1em;
}

.star-1 {
	top: 3em;
	left: 49%;
}

.star-2 {
	top: 12em;
	right: 5%;
}

.star-3 {
	bottom: 2em;
	right: 15%;
}

.star-4 {
	bottom: 2em;
	left: 25%;
}

.star-5 {
	top: 12em;
	left: 15%;
}

.ready-btn {
	top: 3em;
	right: 0em;
	min-width: 200px;
}

.user-container {
	min-height: 50%;
	width: 40%;
	margin: 40px 0;
}

.user {
	display: inline-block;
	background: #fcff56;
	color: #070d31;
	width: 100%;
	padding: 1em;
	text-align: center;
	border: 1px solid #070d31;
	font-size: 20px;
}
