html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	background: #11244d;
	background-repeat: repeat;
	background-size: contain;
}

.app {
	color: #fcff56;
	font-family: monospace;
}

.main-container {
	min-height: 100vh;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

.header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 10vh;
	width: 95vw;
}

.body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 80vh;
	width: 100vw;
	text-align: center;
}

.footer {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	height: 10vh;
	width: 95vw;
}

.text {
	text-align: center;
}

.title {
	font-size: 5vh;
	margin: 2em;
}

.prompt {
	font-size: 5vh;
	margin: 1em;
}

/* Button Styles */
.btn {
	font-family: monospace;
	background-color: #fcff56;
	color: #242f40;
	border-radius: 10px;
	font-size: 2vh;
	padding: 0.75em;
	margin: 0.25em;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.btn-lg {
	font-size: 3vh;
	min-width: 30vw;
	max-width: fit-content;
}

.btn-md {
	font-size: 2vh;
	min-width: 22vw;
	max-width: fit-content;
}

.btn-sm {
	font-size: 2vh;
	width: fit-content;
}

.input-md {
	font-size: 2vh;
	padding: 0.75em;
	margin: 0.25em;
	width: 20vw;
}

.q-form-in,
.btn-form-sm {
	display: inline-block;
	-webkit-appearance: none;
	font-size: 15px;
	border-radius: 0;
	padding: 10px 15px;
}

.q-form {
	border-radius: 0;
	-webkit-appearance: none;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	width: 100%;
}

.q-form-in {
	width: 50%;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.btn-form-sm {
	border: 1px solid black;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.danger {
	background-color: #ba0021;
	color: white;
}

.success {
	background-color: #4bb543;
	color: white;
}

.btn:hover {
	filter: brightness(75%);
}

.link {
	text-decoration: none;
	color: #fcff56;
}

input {
	padding: 10px;
	margin: 5px;
	min-width: 200px;
	font-size: 15px;
	text-align: center;
	border: 1px solid black;
	border-radius: 10px;
}

.form-btn {
	display: inline-block;
	padding: 10px 15px;
	font-size: 15px;
	border-radius: 0;
	-webkit-appearance: none;
	border: 1px solid black;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

/* Questions Styling */

.answer-box {
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	min-height: 350px;
}

/* Answer styling*/
.answer-container {
	display: inline-block;
	word-wrap: break-word;
	max-width: 200px;
	padding: 10px;
	margin: 10px;
	font-size: 16px;
	border: 1px solid black;
	border-radius: 5px;
}

.whiteboard-container {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 600px;
	width: 1100px;
}

.whiteboard {
	height: 100%;
	width: 100%;
	background: #fbfaf5;
	border: 3px solid black;
	border-radius: 10px;
}

.key-container {
	border-radius: 10px;
	margin: 1em;
	font-size: large;
}

.whiteboard-item {
	display: inline-block;
	word-wrap: break-word;
	color: #000;
	font-size: 14px;
	height: 100px;
	width: 100px;
	margin: 5px;
	padding: 0.5em;
	box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
}

.question-box {
	text-align: center;
	width: 100%;
}

.whiteboard-footer {
	width: 100%;
}

.color-key {
	display: flex;
	align-items: center;
	padding: 2px;
}

.color-box {
	height: 20px;
	width: 20px;
	margin: 2px;
	margin: 0.5em;
}

.refresh-whiteboard {
	position: absolute;
	top: 0;
	right: 0;
	margin: 5px 5px 0 0;

	width: 40px;
	height: 40px;
	background-color: white;
	border-radius: 10px;
}

.ready-btn {
	top: 3em;
	right: 0em;
	min-width: 200px;
}

.user-container {
	text-align: center;
	margin: 5em;
}

.user {
	display: inline-block;
	background: #fcff56;
	color: #070d31;
	width: 25vw;
	padding: 1em;
	margin: 0.5em;
	text-align: center;
	border: 1px solid #070d31;
	border-radius: 10px;
	font-size: 2.5vh;
}

.header-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.text-lg {
	font-size: 36px;
}

/* Game Styles */

.game-container {
	position: relative;
	top: 3vh;
	right: 2.5%;
	height: 700px;
	width: 650px;
	background-image: url('./images/star.webp');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.game-btn {
	transform: translate(-50%, -50%);
	position: absolute;
	font-size: 25px;
	padding: 0.5em 1em;
}

.star-1 {
	top: -3%;
	left: 49%;
}

.star-2 {
	top: 40%;
	right: -45%;
}

.star-3 {
	bottom: -15%;
	right: -10%;
}

.star-4 {
	bottom: -15%;
	left: 15%;
}

.star-5 {
	top: 40%;
	left: -18%;
}

@media only screen and (max-width: 1280px) {
	.game-container {
		position: relative;
		top: 3vh;
		right: 2.5%;
		height: 500px;
		width: 450px;
		background-image: url('./images/star.webp');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}

	.star-1 {
		top: -5%;
		left: 49%;
	}

	.star-2 {
		top: 40%;
		right: -60%;
	}

	.star-3 {
		bottom: -20%;
		right: -25%;
	}

	.star-4 {
		bottom: -20%;
		left: 10%;
	}

	.star-5 {
		top: 40%;
		left: -23%;
	}
}
